<!DOCTYPE html>
<html>
<head>
    <title>Search Results</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='h.css') }}">
</head>
<body>
    <h2>Search Results for "{{ query }}"</h2>
    {% if books %}
        <ul>
        {% for book in books %}
            <li>
                <h3>{{ book['title'] }}</h3>
                <p>By {{ book['author'] }}</p>
                <p>{{ book['description'] }}</p>
                <img src="{{ url_for('static', filename='images/' + book['image']) }}" width="150">
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No books found!</p>
    {% endif %}
</body>
</html>
